<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenOutputFolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenOutputFolder.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TCPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConEmuPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveDocument" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftPanelTC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RightPanelTC" serializeAs="String">
                <value>False</value>
            </setting>
        </OpenOutputFolder.Properties.Settings>
    </userSettings>
</configuration>